DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,auth

# ----- rabbitmq -----
RABBITMQ_USER=ticketflow
RABBITMQ_PASSWORD=ticketflowpassword
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# --- auth-service ---
AUTH_POSTGRES_DB=auth_db
AUTH_POSTGRES_USER=auth_user
AUTH_POSTGRES_PASSWORD=changeme_dev_only

# --- catalog-service ---
CATALOG_POSTGRES_DB=catalog_db
CATALOG_POSTGRES_USER=catalog_user
CATALOG_POSTGRES_PASSWORD=changeme_dev_only
